body {
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::-moz-selection {
  background: yellow;
}

::selection {
  background: yellow;
}

h1, h2, h3, h4, h5 {
  color: #000;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #ffb70c;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
  color: #ffa30c;
}

/*-----------------------BACK TO TOP----------------------*/
/* https://codepen.io/matthewcain/pen/ZepbeR */
#return-to-top {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background-color: #ffb70c;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#return-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}
#return-to-top:hover {
  cursor: pointer;
  background-color: #ffb70c;
  -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
}
#return-to-top:active {
  background-color: #ffb70c;
}
#return-to-top.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767.98px) {
  #return-to-top {
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
  }

  #return-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
  }
}

/*---------------------NAVIGATION BAR--------------------*/
.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
  z-index: 99999;
}

.navigation-bar .container-fluid {
  max-width: 100%;
}

.navigation-bar .toggle-menu {
  z-index: 9999;
  position: relative;
  top: -13px;
  display: none;
}

@media (max-width: 767.98px) {
  .navigation-bar .toggle-menu { display: block; }
}

.navigation-bar .toggle-menu:active, .navigation-bar .toggle-menu:focus {
  outline: none;
}

.navigation-bar .site-logo {
  position: relative;
  top: -10px;
  z-index: 9999;
}

.navigation-bar .site-logo a {
  font-size: 30px;
  color: #000;
  margin-left: 2em;
}

.navigation-bar .menu {
  position: relative;
}

.navigation-bar .menu ul {
  margin-bottom: 0;
  margin-right: 3em;
}

.navigation-bar .menu ul li {
  display: inline-block;
}

.navigation-bar .menu ul li a {
  margin-right: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #000;
  position: relative;
  padding-bottom: 5px;
  display: block;
}

.navigation-bar .menu ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  left: 0;
  background: #ffb70c;
  -webkit-transition: .15s width ease;
  -o-transition: .15s width ease;
  transition: .15s width ease;
}

.navigation-bar .menu ul li a:hover:before {
  width: 100%;
}

.navigation-bar .menu ul li.active > a:before {
  width: 100%;
}

.navigation-bar .menu ul li:last-child a {
  margin-right: 0;
}

@media (max-width: 767.98px) {
  .navigation-bar .menu {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    margin: 0;
    text-align: left;
    height: 100vh;
    min-height: 400px;
    padding: 15px;
    display: none;
    padding-top: 100px;
    overflow-y: scroll;
  }

  .navigation-bar .site-logo a {
    margin-left: 0;
  }

  .navigation-bar .menu ul {
    margin-left: 40px;
  }

  .navigation-bar .menu ul li {
    display: block;
    margin-bottom: 10px;
  }

  .navigation-bar .menu ul li a {
    padding: 10px 0 2px 0;
    font-size: 18px;
    display: inline-block;
  }
}

@media (max-width: 767.98px) {
  .navigation-bar .menu ul {
    margin-left: 0px;
  }
}

.navigation-bar.navbar-light .site-logo a {
  color: #fff;
}

.navigation-bar.navbar-light .hamburger .hamburger-inner, .navigation-bar.navbar-light .hamburger .hamburger-inner::before, .navigation-bar.navbar-light .hamburger .hamburger-inner::after {
  background-color: #fff;
}

.navigation-bar.navbar-light .menu ul li a {
  color: #fff;
}

.menu-open .navigation-bar {
  position: fixed;
  left: 0;
  top: 0;
}

@media (max-width: 767.98px) {
  .menu-open .site-logo a {
    color: #000 !important;
  }
}

.menu-open .navbar-light .hamburger .hamburger-inner, .menu-open .navbar-light .hamburger .hamburger-inner::before, .menu-open .navbar-light .hamburger .hamburger-inner::after {
  background-color: #000;
}

.menu-open .menu li {
  opacity: 0;
  visibility: hidden;
  margin-left: -10px;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.menu-open .menu li.staggard {
  opacity: 1;
  visibility: visible;
  margin-left: 0px;
}

@media (max-width: 767.98px) {
  .menu-open .menu li a {
    color: #000 !important;
  }
}

/*------------------------BANNER---------------------------*/
.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

.banner .lead {
  font-size: 28px;
}

@media (max-width: 991.98px) {
  .banner .lead {
    font-size: 20px;
  }
}

.banner .cover {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner .cover img {
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner.overlay:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 0; top: 0;
  bottom: 0;
  right: 0;
}

.banner.overlay h1 {
  color: #fff;
}

.banner.overlay .lead {
  color: #fff;
  opacity: .5;
}

.banner, .intro {
  height: 90vh;
  min-height: 700px;
}

.banner h1, .intro h1 {
  color: #000;
  font-size: 70px;
}

@media (max-width: 991.98px) {
  .banner h1, .intro h1 {
    font-size: 36px;
  }
}

/*-------------------PORTFOLIO AREA-----------------------*/
.portfolio-overlap {
  position: relative;
  margin-top: -100px;
}

@media (max-width: 991.98px) {
  .portfolio-overlap {
    margin-top: -50px;
  }
}

/* work detail */
.work-detail {
  margin-bottom: 50px;
}

.work-detail .caption {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  color: #ccc;
}

.work-detail strong {
  font-weight: normal;
  color: #000;
}

/*Post */
.project, .post {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.project figure, .post figure {
  margin: 0; position: relative;
}

.project .project-hover, .project .post-hover, .post .project-hover, .post .post-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,183,12, 0.9);
  visibility: hidden; opacity: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.project .project-hover .project-hover-inner, .project .project-hover .post-hover-inner, .project .post-hover .project-hover-inner, .project .post-hover .post-hover-inner, .post .project-hover .project-hover-inner, .post .project-hover .post-hover-inner, .post .post-hover .project-hover-inner, .post .post-hover .post-hover-inner {
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: .3s all ease;
  text-align: center;
}

.project .project-hover .project-hover-inner h2, .project .project-hover .post-hover-inner h2, .project .post-hover .project-hover-inner h2, .project .post-hover .post-hover-inner h2, .post .project-hover .project-hover-inner h2, .post .project-hover .post-hover-inner h2, .post .post-hover .project-hover-inner h2, .post .post-hover .post-hover-inner h2 {
  color: #fff;
  font-size: 26px;
  line-height: 1.2;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  position: relative;
  bottom: -30px;
}

.project .project-hover .project-hover-inner span, .project .project-hover .post-hover-inner span, .project .post-hover .project-hover-inner span, .project .post-hover .post-hover-inner span, .post .project-hover .project-hover-inner span, .post .project-hover .post-hover-inner span, .post .post-hover .project-hover-inner span, .post .post-hover .post-hover-inner span {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  position: relative;
  bottom: -30px;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.project:hover .project-hover, .project:hover .post-hover, .project:focus .project-hover, .project:focus .post-hover, .post:hover .project-hover, .post:hover .post-hover, .post:focus .project-hover, .post:focus .post-hover {
  visibility: visible;
  opacity: 1;
}

.project:hover .project-hover .project-hover-inner, .project:hover .project-hover .post-hover-inner, .project:hover .post-hover .project-hover-inner, .project:hover .post-hover .post-hover-inner, .project:focus .project-hover .project-hover-inner, .project:focus .project-hover .post-hover-inner, .project:focus .post-hover .project-hover-inner, .project:focus .post-hover .post-hover-inner, .post:hover .project-hover .project-hover-inner, .post:hover .project-hover .post-hover-inner, .post:hover .post-hover .project-hover-inner, .post:hover .post-hover .post-hover-inner, .post:focus .project-hover .project-hover-inner, .post:focus .project-hover .post-hover-inner, .post:focus .post-hover .project-hover-inner, .post:focus .post-hover .post-hover-inner {
  visibility: visible;
  opacity: 1;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.project:hover .project-hover .project-hover-inner h2, .project:hover .project-hover .post-hover-inner h2, .project:hover .post-hover .project-hover-inner h2, .project:hover .post-hover .post-hover-inner h2, .project:focus .project-hover .project-hover-inner h2, .project:focus .project-hover .post-hover-inner h2, .project:focus .post-hover .project-hover-inner h2, .project:focus .post-hover .post-hover-inner h2, .post:hover .project-hover .project-hover-inner h2, .post:hover .project-hover .post-hover-inner h2, .post:hover .post-hover .project-hover-inner h2, .post:hover .post-hover .post-hover-inner h2, .post:focus .project-hover .project-hover-inner h2, .post:focus .project-hover .post-hover-inner h2, .post:focus .post-hover .project-hover-inner h2, .post:focus .post-hover .post-hover-inner h2 {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
}

.project:hover .project-hover .project-hover-inner span, .project:hover .project-hover .post-hover-inner span, .project:hover .post-hover .project-hover-inner span, .project:hover .post-hover .post-hover-inner span, .project:focus .project-hover .project-hover-inner span, .project:focus .project-hover .post-hover-inner span, .project:focus .post-hover .project-hover-inner span, .project:focus .post-hover .post-hover-inner span, .post:hover .project-hover .project-hover-inner span, .post:hover .project-hover .post-hover-inner span, .post:hover .post-hover .project-hover-inner span, .post:hover .post-hover .post-hover-inner span, .post:focus .project-hover .project-hover-inner span, .post:focus .project-hover .post-hover-inner span, .post:focus .post-hover .project-hover-inner span, .post:focus .post-hover .post-hover-inner span {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

/*------------------------BUTTON-------------------------*/
.button {
  padding: 15px 40px;
  display: inline-block;
  font-size: 13px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 30px;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.button:hover, .button:active, .button:focus {
  outline: none;
}

.button.button--main {
  background: #ffb70c;
}

.button.button--main:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
  background: #ffb70c;
}

/*------------------------FOOTER-------------------------*/
.footer {
  padding: 7em 0;
  border-top: 1px solid #F4F4F4;
}

.footer .container-fluid {
  max-width: 100%;
}

.footer small {
  font-size: 16px;
}

.footer p:last-child {
  margin-bottom: 0;
}

.footer .footer-social {
  position: relative;
}

.footer .footer-social a {
  color: #b3b3b3;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; f
  font-size: 26px;
}

.footer .footer-social a:hover, .footer .footer-social a:focus {
  color: #ffa30c;
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  transform: scale(1.7);
}
